.idea/
.vscode/
*.DS_Store
__pycache__/
# *.pyc

logs/
issues/
microbench/
**/result/*
hidden_state/
infer/
fig/

models/
third_party/ce_gen/database/
third_party/ce_gen/microbench/


temp*.*
statistics*.py
#hs_err_*.log
*.log
*.npy
local_scripts/
*.zip

_*.py
.env
data/spider/schema_for_sample_values
data/bird/schema_for_sample_values
data/beaver/schema_for_sample_values

dbs/
prepared/
results/