Cython==3.1.2
docker==7.0.0
environment==1.0.0
JPype1==1.6.0
lark==1.2.2
matplotlib==3.10.3
mo_parsing==8.675.25037
mo_sql_parsing==11.675.25037
mysql_connector_repackaged==0.3.1
nltk==3.9.1
numpy==2.2.6
openai==0.27.10
ordered_set==4.1.0
pandas==2.3.1
python-dotenv==1.0.1
PyYAML==6.0.2
regex==2022.10.31
requests==2.31.0
setuptools==78.1.1
sql_metadata==2.17.0
sqlglot==27.4.0
sqlparse==0.5.3
tokenizers==0.19.1
tqdm==4.67.1
ujson==5.10.0
